:root {
    --vermelho: #e11b22;
    --branco: #ffffff;
    --cinzaEscuro: #2f2f2f;
    --cinzaClaro: #aaaaaa;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}